* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.padding-every-cont {
  padding: 30px 100px;
}

header {
  border-bottom: 1px solid #0000004d;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

header nav .input {
  width: 60%;
  padding: 12px 16px;
  gap: 12px;
  border-radius: 40px;
  background: #f0f0f0;
}
header nav .input input {
  border: none;
  outline: none;
  background-color: #f0f0f0;
}
header nav a {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

@media (max-width: 1010px) {
  header nav .input {
    width: 40%;
  }
}

@media (max-width: 824px) {
  .padding-every-cont {
    padding: 20px 10px;
  }

  header nav .input {
    width: 50%;
  }
}
@media (max-width: 700px) {
  header nav a {
    display: none;
  }
  header nav .input {
    display: none;
  }
  header nav img {
    margin: auto;
  }
}

/* main section  */
main {
  font-family: Montserrat;
}
main .title {
  display: flex;
  gap: 10px;
  align-items: center;
  height: fit-content;
}
main .title h4 {
  font-weight: 400;
  color: #2e2e2e;
}

/* main seciton > category section  */
.category {
  margin: 10px 0;
  display: grid;
  gap: 25px;
  grid-template-areas:
    "one one two" "three four five" "six seven seven"
    "eight nine ten" "elven elven twevel";
}
.category .item-all {
  border: 0.1px solid #2e2e2e96;
  border-radius: 20px;
  padding: 40px;
  min-height: 289px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}

.category .one-img {
  background-image: url("../image/party.png");
  /* width: 820px; */
  /* grid-column: 1/3; */
  grid-area: one;
  /* width: 60vw; */
}

.category .two-img {
  background-image: url("../image/gym.png");
  grid-area: two;
}

.category .three-img {
  background-image: url("../image/causal.png");
  grid-area: three;
}

.category .four-img {
  background-image: url("../image/causal.png");
  grid-area: four;
}

.category .five-img {
  background-image: url("../image/causal.png");
  grid-area: five;
}
.category .six-img {
  background-image: url("../image/causal.png");
  grid-area: six;
}

.category .seven-img {
  background-image: url("../image/formal.png");
  grid-area: seven;
  /* grid-column: 2/4; */
}

.category .eight-img {
  background-image: url("../image/causal.png");
  grid-area: eight;
}

.category .nine-img {
  background-image: url("../image/causal.png");
  grid-area: nine;
}

.category .ten-img {
  background-image: url("../image/causal.png");
  grid-area: ten;
}

.category .eleven-img {
  background-image: url("../image/party.png");
  grid-area: elven;
  /* grid-column: 1/3; */
}

.category .twevel-img {
  background-image: url("../image/gym.png");
  grid-area: twevel;
}

/* .category media query   */
@media (max-width: 1200px) {
  .category {
    grid-template-areas:
      "one " " two" "three" " four" " five" "six" " seven"
      "eight" " nine " "ten" "elven " " twevel";
  }
}
@media (max-width: 824px) {
  main h4 {
    font-size: 16px;
  }
  .category .item-all {
    padding: 10px;
    background-size: auto;
    background-position: right;
  }
}
@media (max-width: 450px) {
  .category .item-all {
    background-size: cover;
    background-position: center;
  }
}

/* end media query  */

/* end main section */

/* ----------------------------------------footer  */

footer {
  background: #f0f0f0;
  height: 181px;
}

footer .top-footer {
  font-family: "Abril Fatface", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0000004d;
}

footer .top-footer .links i {
  border: 1px solid #00000033;
  padding: 10px;
  font-size: 25px;
  border-radius: 50%;
  background-color: white;
}

footer .bottom-footer {
  text-align: center;
  padding: 30px;
  font-family: Montserrat;
  font-weight: 400;
}

/* footer media query  */
@media (max-width: 500px) {
  footer .top-footer .links i {
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
  }
  footer h3 {
    font-size: 25px;
  }
}
/* end  */
/* footer end  */
