/* Google Fonts Import*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padding-every-cont {
    padding: 30px 100px;
}

/* css for header*/

header {
    border-bottom: 1px solid #0000004d;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

/* Logo Image */
header nav img {
    gap: 0px;
    opacity: 1;
}

/* Search bar */

header nav .input {
    width: 60%;
    padding: 12px 16px;
    gap: 12px;
    border-radius: 40px;
    background: #f0f0f0;
}

header nav .input input {
    border: none;
    outline: none;
    background-color: #f0f0f0;
}

header nav a {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

@media (max-width: 1010px) {
    header nav .input {
        width: 40%;
    }
}

@media (max-width: 824px) {
    .padding-every-cont {
        padding: 20px 10px;
    }

    header nav .input {
        width: 50%;
    }
}

@media (max-width: 700px) {
    header nav a {
        display: none;
    }

    header nav .input {
        display: none;
    }

    header nav img {
        margin: auto;
    }
}

.background {
    width: 100%;
    gap: 0px;
    opacity: 0px;
    background-color: #f2f0f1;
}

/* background image main class */
.container img {
    width: 100%;
}

/* Content in main class */
.content #p1 {
    gap: 0px;
    opacity: 1;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 900;
    line-height: 64px;
    color: #000000;
}

.content #p2 {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    gap: 0px;
    opacity: 1;
    padding-top: 20px;
}

/* shop now button */
.content a {
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
    color: #ffffff;
    padding: 16px 50px;
    gap: 12px;
    border: none;
    border-radius: 62px;
    opacity: 1;
    background-color: #000000;
}

.about {
    display: flex;
    align-items: center;
    margin: 20px 0;
    /* Adjust the top and bottom margin as needed */
    gap: 32px;
    opacity: 1;
    /* Set opacity to 1 to make it visible */
}

/* about company review */
.about .overview {
    text-align: center;
}

.overview p:first-child {
    margin: 0;
    font-family: Satoshi;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    color: #000000;
}

.overview p:last-child {
    margin: 0;
    color: #00000099;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

/* Container Styles */
.container1 {
    margin: 50px;
    padding: 30px 64px;
    border-radius: 20px 20px 20px 20px;
    opacity: 1;
    background-color: #f0f0f0;
}

.container1 .button {
    width: fit-content;
    padding: 10px 50px 10px 50px;
    gap: 12px;
    text-align: center;
    margin-left: 600px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #000000;
    border: 1px solid #0000001a;
    border-radius: 62px;
}

/* Header Styles */
h2 {
    margin-bottom: 20px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 900;
    line-height: 58.51px;
    text-align: center;
    color: #000000;
}

/* Row Styles */
.a {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
    column-gap: 10px;
}

/* Image Styles */
.image {
    border-radius: 20px 20px 20px 20px;
    opacity: 1;
    width: 100%;
    height: 289px;
}

/* for set text in image */
.image-container {
    position: relative;
    width: 100%;
}

/* text in image */
.image-text {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #000000;
    font-family: Satoshi;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
}

/* Specific Image Classes */
.container2 {
    margin: 30px;
    opacity: 1;
}

.container2 img {
    border: none;
    border-radius: 20px 20px 20px 20px;
}

.container2 .col-3 {
    margin-bottom: 2px;
}

.product-details p:first-child {
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
}

.product-details .price {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.4px;
    text-align: left;
}

.product-details .discount {
    margin-left: 10px ;
    padding: 6px 14px 6px 14px;
    gap: 12px;
    border-radius: 62px 62px 62px 62px;
    opacity: 0px;
    font-family: Satoshi;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.2px;
    text-align: left;
    background-color:#FF33331A;
    color:#FF3333;

}

.product-details .off {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.4px;
    text-align: left;
    text-decoration:line-through;
    color:#00000066;
    
}

.product-details a {
    border: none;
    padding: 10px 90px 10px 90px;
    gap: 12px;
    border-radius: 62px 62px 62px 62px;
    opacity: 0px;
    background-color: #000000;
}

.product-details img {
    width: fit-content;
    gap: 5.31px;
    opacity: 0px;
}

.container2 .button {
    width: fit-content;
    margin-top: 10px;
    padding: 10px 50px 10px 50px;
    gap: 12px;
    text-align: center;
    margin-left: 600px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #000000;
    border: 1px solid #0000001a;
    border-radius: 62px;
}

.container3 {
    margin: 30px;
}

.container3 img {
    border: none;
    border-radius: 20px 20px 20px 20px;
}

.container3 .col-3 {
    margin-bottom: 2px;
}

.container3 .button {
    width: fit-content;
    margin-top: 10px;
    padding: 10px 50px 10px 50px;
    gap: 12px;
    text-align: center;
    margin-left: 600px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #000000;
    border: 1px solid #0000001a;
    border-radius: 62px;
}


@media (max-width: 500px) {

    .content #p1 {
        display: block;
        font-family: Montserrat, sans-serif;
        /* Added fallback font */
        font-size: 32px;
        font-weight: 900;
        line-height: 44px;
        text-align: left;
    }

    .content #p2 {
        display: block;
        font-family: Satoshi, sans-serif;
        /* Added fallback font */
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
    }

    .content button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .about {
        display: flex;
        flex-wrap: wrap;
    }


    .review p:first-child {
        font-family: Satoshi, sans-serif;
        /* Added fallback font */
        font-size: 30px;
        font-weight: 700;
        line-height: 40.5px;
        text-align: left;
    }

    .review p:last-child {
        font-family: Satoshi, sans-serif;
        /* Added fallback font */
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
    }

    .container1 {
        display: none;
    }

    .container2 {
        display: none;
    }

    .container3 {
        display: none;
    }
}
.container4{
    position: relative;
}
.customers {
    padding: 28px 32px 28px 32px;
    gap: 342px;
    border-radius: 20px 0px 0px 0px;
    border: 1px 0px 0px 0px;
}

.customers p:first-child {
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}

.customers p+p {
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

}
.container4 .customers img {
    width: fit-content;
    gap: 6.49px;
    opacity: 0px;

}
.container4 h2 {
    text-align: left;
    margin-left: 10px;
}
.owl-theme .owl-dots{
    display: none;
}
.owl-theme .owl-nav{
    position: absolute;
    top: -60px;
    right: 50px;
}
.owl-carousel .owl-nav button{
    padding: 10px;
}
.owl-carousel .owl-nav button .owl-next{
    background-color:#F0F0F0;
}
.owl-carousel .owl-nav button .owl-prev{
    background-color:#F0F0F0;
}

/* ----------------------------------------footer  */

footer {
    background: #f0f0f0;
    height: 181px;
}

footer .top-footer {
    font-family: "Abril Fatface", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0000004d;
}

footer .top-footer .links i {
    border: 1px solid #00000033;
    padding: 15px;
    font-size: 25px;
    border-radius: 50%;
    background-color: white;
}

footer .bottom-footer {
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
}

footer h3 {
    font-family: Abril Fatface;
    font-size: 32px;
    font-weight: 400;
    line-height: 43.17px;
    text-align: left;
}

.bottom-footer p {
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
}

/* footer media query  */
@media (max-width: 500px) {
    footer .top-footer .links i {
        padding: 10px;
        font-size: 20px;
        border-radius: 50%;
        background-color: white;
    }

    footer h2 {
        font-size: 20px;
    }
}

/* end  */

/* footer end  */